<footer>
    <div class="footer py-3 mt-5 mb-0" style="background-color: #cdc9c9; user-select: none;">
        <div class="container">
            <div class="footer-social text-center">
                <a href="#" class="fa fa-facebook text-white" style="text-decoration: none"></a>
                <a href="#" class="fa fa-instagram text-white" style="text-decoration: none"></a>
                <a href="#" class="fa fa-telegram text-white" style="text-decoration: none"></a>
            </div>
            <p class="text-center">Tan Trade &COPY; 2021 - Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>
