{% load static %}
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #cdc9c9; border-bottom: 2px solid #696969; user-select: none;">
        <div class="container py-2" style="font-family: 'Poppins', sans-serif;">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapse_menu" aria-controls="collapse_menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon thead-dark" aria-hidden="true"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapse_menu">
                <ul id="navbar" class="navbar-nav mr-auto active">
                    <li class="nav-item mr-5"
{#                        {% if request.path == '/' %}#}
{#                            class="nav-item shadow"#}
{#                        {% else %}#}
{#                            class="nav-item"#}
{#                        {% endif %}#}
                    >
                        <a href="{% url 'index' %}" class="nav-link">Ana Sayfa</a>
                    </li>
                    <li class="nav-item mr-5"
{#                        {% if 'urunler' in request.path %}#}
{#                            class="nav-item shadow"#}
{#                        {% else %}#}
{#                            class="nav-item"#}
{#                        {% endif %}#}
                    >
                        <a href="{% url 'products' %}" class="nav-link">Ürünlerimiz</a>
                    </li>
                    <li class="nav-item mr-5"
{#                        {% if 'hakkimizda' in request.path %}#}
{#                            class="nav-item shadow"#}
{#                        {% else %}#}
{#                            class="nav-item"#}
{#                        {% endif %}#}
                    >
                        <a href="{% url 'about' %}" class="nav-link">Hakkımızda</a>
                    </li>
                    <li class="nav-item"
{#                        {% if 'iletisim' in request.path %}#}
{#                            class="nav-item shadow"#}
{#                        {% else %}#}
{#                            class="nav-item"#}
{#                        {% endif %}#}
                    >
                        <a href="{% url 'contact' %}" class="nav-link">İletişim</a>
                    </li>
                </ul>
            </div>
            <a href="{% url 'index' %}" class="navbar-brand" style="color: #000000; font-size: x-large;">TAN TRADE</a>
        </div>
    </nav>
</header>
