{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid py-4 mb-5 mt-5" style="border-radius: 0 50px; background-color: #4e555b; background: radial-gradient(circle, #1874cd 17%, #5d478b 57%)">
    <div class="container" style="height: 45px;">
        <img src="{% static 'media/banner_logo.png' %}" class="rounded mx-auto d-block" alt="">
{#        <h1 class="display-6 text-center text-white"></h1>#}
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card border-dark">
            <div class="card-header text-white text-center" style="background-color: #1874cd; user-select: none;"><h4>Bize Ulaşın</h4></div>
            <div class="card-body bg-dark">
                <form action="iletisim" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group my-3">
{#                            <label for="name_surname">Adınız ve soyadınız:</label>#}
                        {{ form.namesurname }}
{#                            <input type="text" name="name_surname" class="form-control" required>#}
                    </div>
                    <div class="form-group mb-3">
{#                            <label for="email">e-Posta adresiniz:</label>#}
                        {{ form.email }}
{#                            <input type="email" name="email" class="form-control" required>#}
                    </div>
                    <div class="form-group mb-3">
{#                            <label for="image">Konu:</label>#}
                        {{ form.image }}
{#                            <input type="text" name="image" class="form-control">#}
                    </div>
                    <div class="form-group mb-3">
{#                            <label for="subject">Konu:</label>#}
                        {{ form.subject }}
{#                            <input type="text" name="subject" class="form-control" required>#}
                    </div>
                    <div class="form-group mb-3">
{#                            <label for="message">İletiniz:</label><br>#}
                        {{ form.message }}
{#                            <textarea name="message" rows="7" class="form-control" required></textarea>#}
                    </div>
                    <div class="form-check mb-1">
                        <input type="checkbox" class="form-check-input" style="float: left" name="check" required>
                        <label class="form-check-label text-white-50" for="check" style="font-size: 13px"><a href="/kvkk" target="_blank" style="text-decoration: none">KVKK Aydınlatma Metni</a>'ni okudum, onaylıyorum.</label>
                    </div>
                    <br>
                    <button type="submit" class="btn-primary py-2 px-4" style="float: right; border-radius: 0 5px;">Gönder</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="card mt-5 w-75 mx-auto" style="background-color: #4e555b">
    <div class="container-fluid my-4">
        <div class="col-md-4 mx-auto text-center text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98l4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
            </svg>  Caferağa Mh. Konuralp Sk. 34843 Kadıköy/İstanbul</div>
        <hr>
        <div class="col-md-3 mx-auto text-center text-white""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
            </svg><a id="mail" href="mailto:info@tantrade.net" onmouseover="mouseOver()" onmouseout="mouseOut()" style="text-decoration: none; color: #ffffff;">   info@tantrade.net</a></div>
        <hr>
        <div class="col-md-3 mx-auto text-center text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> +90 532 437 61 47</div>
        <div class="col-md-3 mx-auto text-center text-white"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg> +90 537 326 41 46</div>
    </div>
</div>
{% endblock %}