{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid py-4 mb-5" style="border-radius: 0 50px; background-color: #4e555b">
    <div class="container">
        <h1 class="display-6 text-center text-white">Hoş Geldiniz</h1>
    </div>
</div>
<div id="carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item">
      <img src="" class="d-block w-100" alt="">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
{% endblock %}