{% extends 'layout.html' %}
{% load static %}
{% block content %}
<div class="jumbotron jumbotron-fluid py-4 mb-5 mt-5" style="border-radius: 0 50px; background-color: #4e555b; background: radial-gradient(circle, #1874cd 17%, #5d478b 57%)">
    <div class="container" style="height: 45px;">
        <img src="{% static 'media/banner_logo.png' %}" class="rounded mx-auto d-block" alt="">
{#        <h1 class="display-6 text-center text-white"></h1>#}
    </div>
</div>
{% if photos %}
    {% for photo in photos %}
        <div class="carousel">
            <img id="photo" src="{% static photo.getPhotoPath %}" class="d-block w-100" alt="" style="border-radius: 50px">
            <div class="carousel-caption">
                <button class="btn btn-primary py-0 px-0" style="border-radius: 0 5px;">
                    <a id="pro" class="btn btn-block" href="/urunler/" style="color: #ffffff; text-decoration: none;">Ürünlerimize göz atın</a>
                </button>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-warning">
        <p>Gösterilecek fotoğraf bulunmuyor.</p>
    </div>
{% endif %}
{% endblock %}