{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row mt-5">
        <div class="col-md-3">
            <img class="card-img" src="{% static product.getImagePath %}" alt="">
        </div>
        <div class="col-md-9">
            <h1>{{ product.name }}</h1>
            <hr>
            <p>{{ product.description }}</p>
            <hr>
            <p>{{ product.details }}</p>
            <hr>
            <p>{{ product.amount }}</p>
        </div>
    </div>
{% endblock %}