{% extends 'layout.html' %}
{% load static i18n %}
{% load humanize %}
{% block content %}
<div class="jumbotron jumbotron-fluid py-4 mb-5 mt-5" style="border-radius: 0 50px; background: radial-gradient(circle, #343a40 17%, #cdc9c9 57%)">
    <div class="container" style="height: 45px;">
        <img src="{% static 'media/banner_logo.png' %}" class="rounded mx-auto d-block" alt="">
{#        <h1 class="display-6 text-center text-white"></h1>#}
    </div>
</div>
<div class="mx-auto text-center my-5">
    <h3 style="font-family: 'Poppins', sans-serif; user-select: none">{% trans 'Kategoriler' %}</h3>
</div>
<div class="list-group mb-5 w-75 mx-auto">
    {% for category in categories %}
        <a href="{{ category.id }}/{{ category.slug }}" class="list-group-item list-group-item-action bg-dark">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1 text-white">{{ category.name }}</h5>
            </div>
            <p class="mb-1 text-muted">{{ category.description }}</p>
        </a>
    {% endfor %}
</div>
<div class="mx-auto text-center my-5">
    <h3 style="font-family: 'Poppins', sans-serif; user-select: none">{% trans 'Tüm Ürünler' %}</h3>
</div>
<form class="form-inline my-5" method="GET" role="search" action="">
    <div class="input-group w-75">
        <input type="search" name="q" class="form-control ml-3" style="border: 1px solid #343a40;" placeholder="{% trans 'Aratacağınız sözcüğü giriniz' %}" value="{{ request.GET.q }}"/>
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary ml-2" value="{% trans 'Ara' %}"/>
        </span>
    </div>
</form>
<div class="col-md-12">
    {% if products %}
        {% for product in products %}
            <div class="card mb-3 bg-dark text-white">
                <div class="row">
                    <div class="col-md-3">
                        <img class="card-img" src="{% static product.getImagePath %}" alt="">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <div class="card-title"><a class="text-white" href="{% url 'detail' product.id %}">{{ product.name }}</a></div>
                            <p class="card-text">{{ product.description }}</p>
                            <p class="card-text">
                            <small class="text-muted">{{ product.amount | intcomma }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-warning">
            <p>Gösterilecek ürün bulunmuyor.</p>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}