.menu-toggle{
    color: #ffffff;
    float: left;
    cursor: pointer;
    display: none;
}
@media (max-width: 991px) {
    .menu-toggle{
        display: block;
    }
    header #collapse_menu{
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        top: 50px;
        left: 0;
        transition: 0.5s;
    }
    header nav ul a{
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
}
@media (max-width: 530px) {
    #pro {font-size: 3vw;}
}
